---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} have_langs={true} />
		<div id="app">
			<main>
				<h3>Récemment</h3>
				<ul style="list-style:none; padding: 0">
					<li>
						<p>
							<time>2023-04-20 :</time><br />
							<a href="https://audioskop.fr">Audioskop</a> a reçu le
							support du
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 50 38"
								width="50"
								height="38"
								style="width:24px; height: auto; position: relative; top: 4px"
							>
								<style>
									tspan {
										white-space: pre;
									}
									.shp0 {
										fill: #000000;
									}
								</style>
								<path
									id="CNAP logo"
									class="shp0"
									d="M10.35 18.55C10.35 19.45 11.08 20.18 11.97 20.18C12.86 20.18 13.59 19.45 13.59 18.55C13.59 17.65 12.86 16.92 11.97 16.92C11.08 16.92 10.35 17.65 10.35 18.55ZM18.44 0C8.27 0 0 8.32 0 18.55C0 28.78 8.27 37.1 18.44 37.1L30.09 37.1C35.26 37.1 39.47 32.87 39.47 27.66L39.47 18.55C39.47 16.58 41.06 14.97 43.03 14.97C44.99 14.97 46.59 16.58 46.59 18.55C46.59 20.52 44.99 22.13 43.03 22.13C42.13 22.13 41.41 22.86 41.41 23.76L41.41 35.47C41.41 36.37 42.13 37.1 43.03 37.1C43.92 37.1 44.64 36.37 44.64 35.47C44.64 35.47 44.64 25.67 44.64 25.18C47.66 24.44 49.82 21.7 49.82 18.55C49.82 14.78 46.77 11.72 43.03 11.72C39.28 11.72 36.23 14.78 36.23 18.55L36.23 27.66C36.23 31.07 33.48 33.85 30.09 33.85L18.44 33.85C10.06 33.85 3.24 26.98 3.24 18.55C3.24 10.12 10.06 3.25 18.44 3.25L27.5 3.25C29.46 3.25 31.06 4.86 31.06 6.83L31.06 27.66C31.06 28.2 30.62 28.64 30.09 28.64C29.55 28.64 29.12 28.2 29.12 27.66L29.12 15.95C29.12 13.61 27.23 11.72 24.91 11.72C23.97 11.72 23.06 12.05 22.32 12.64C21.58 12.05 20.68 11.72 19.73 11.72C17.41 11.72 15.53 13.61 15.53 15.95L15.53 18.55C15.53 20.53 13.93 22.13 11.97 22.13C10.01 22.13 8.41 20.52 8.41 18.55C8.41 16.58 10.01 14.97 11.97 14.97C12.86 14.97 13.59 14.24 13.59 13.34C13.59 12.45 12.86 11.72 11.97 11.72C8.22 11.72 5.17 14.78 5.17 18.55C5.17 22.32 8.22 25.38 11.97 25.39C13.78 25.39 15.49 24.67 16.77 23.38C18.06 22.09 18.76 20.38 18.76 18.55L18.76 15.95C18.76 15.41 19.2 14.97 19.73 14.97C20.27 14.97 20.7 15.41 20.7 15.95L20.71 23.76C20.71 24.65 21.43 25.38 22.32 25.38C23.22 25.38 23.94 24.65 23.94 23.76L23.94 15.95C23.94 15.41 24.37 14.97 24.91 14.97C25.44 14.97 25.88 15.41 25.88 15.95L25.88 27.66C25.88 29.99 27.77 31.89 30.09 31.89C32.41 31.89 34.29 29.99 34.29 27.66L34.29 6.83C34.29 3.07 31.24 0 27.5 0L18.44 0Z"
								></path>
							</svg> (Centre National des Arts Plastiques) !
						</p>
					</li>
					<li>
						<p>
							<time>2023-02-01 :</time><br />
							<a
								style="display:inline-block; margin-top: .5em;padding:.5em 1.5em; text-decoration: none; box-shadow: 0 1px 6px -1px rgba(0,0,0,0.3); background:#eee; border-radius: 19px; margin-bottom: .5em; font-family: sans-serif"
								href="https://www.helloasso.com/associations/petites-bandes/collectes/audioskop"
								><span class="bullet">🔗</span> Le financement participatif
								🟡 Audioskop est ouvert !</a
							><br /><a href="https://audioskop.fr">Audioskop</a> est
							un projet open-source visant à proposer l'exploration
							libre d'un corpus audio via une interface propice à la
							découverte.
						</p>
					</li>
				</ul>
				<h3>Travaux</h3>
				<p>
					Développeur full-stack curieux, je fournis depuis 2015 des services de conception et développement d'outils numériques sur-mesure, et des logiciels d'automatisation du design avec <a href="https://turing-express.fr">Turing-Express</a>.
					<a href="mailto:contact@lucassifoni.info">Me contacter</a>
				</p>
				<h3>Optique & Astronomie</h3>
				<p>
					Un peu de mes travaux d'optique sont <a
						href="https://github.com/Lucassifoni/hyperbolic-200mm-f3.5-"
						>sur Github</a
					> ou instagram (<a
						href="https://instagram.com/chantepierre_"
						>@chantepierre_</a
					>).En ce moment : un téléscope automatisé avec Elixir,
					Vue, & Rust.<br/>Voir le <a href="/fr/blog">blog</a> pour les détails
					!
				</p>
			</main>
			<Footer />
		</div>
	</body>
</html>
