---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} have_langs={true}/>
		<div id="app">
			<main>
				<h3>Récemment</h3>
				<p>
					<a style="display:inline-block;padding:.5em 1.5em; text-decoration: none; box-shadow: 0 1px 6px -1px rgba(0,0,0,0.3); background:#fae03c; border-radius: 19px; margin-bottom: .5em; font-family: sans-serif" href="https://www.helloasso.com/associations/petites-bandes/collectes/audioskop"><span class="bullet">🔗</span> Le financement participatif d'Audioskop est ouvert !</a><br>Audioskop est un projet open-source visant à proposer l'exploration libre d'un corpus audio via une interface propice à la découverte. La première édition ouvrira au public 250h d'enregistrements du philosophe Pierre-Damien Huyghe.<br><a href="https://audioskop.fr">Présentation interactive sur audioskop.fr</a>
				</p>
				<h3>Travaux</h3>
				<p>
                    Développeur full-stack et curieux, je fournis depuis 2015 des services de conception,
                    planification et développement d'outils numériques sur-mesure dans des domaines variés.
					<a href="mailto:contact@lucassifoni.info">Contactez-moi</a> si vous souhaitez
                    discuter de comment automatiser ou fluidifier des processus métier laborieux.
				</p>
				<p>
					Ces temps-ci, je travaille sur des systèmes d'automatisation du design avec une stack
					Elixir & Typescript.<br />
				</p>
				
				<h3>Optique & Astronomie</h3>
				<p>
					Un peu de mes travaux d'optique sont visibles sur Github (voir <a
						href="https://github.com/Lucassifoni/hyperbolic-200mm-f3.5-"
						>hyperbolic-200mm-f3.5-</a
					>) ou sur instagram (<a
						href="https://instagram.com/chantepierre_"
						>@chantepierre_</a
					>). En ce moment : un téléscope automatisé avec 
					Elixir, Vue, & Rust. Voir le <a href="/fr/blog">blog</a> pour les détails !
				</p>
			</main>
			<Footer />
		</div>
	</body>
</html>
