html {
    background: url("/bg.png");
    background-repeat: repeat;
    background-size: 100px 100px;
    image-rendering: pixelated;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html img {
    image-rendering: auto;
}

body {
    max-width: 960px;
    margin: auto;
    padding: 1em;
}

a {
    color: black;
    text-decoration: underline;
}

blockquote {
    font-style: italic;
}

p {
    max-width: 70ch;
    line-height: 1.3;
}

html * {
    box-sizing: border-box;
}

a {
    color: black;
}

html {
    font-size: 15.5px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 0;
}

ul {
    margin-bottom: 2em;
}

#app {
    max-width: 1080px;
    margin: auto;
}

.mobile-menu {
    display: none;

    @media screen and (max-width: 960px) {
        display: block;
    }
}

.lang-button {
    border: 1px solid;
    font-size: 1em;
    background: none;
    font-family: inherit;
    border: 1px solid black;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(18, 11, 52, 0.5);
}

pre.astro-code {
    line-height: 1.6;
    border-radius: 2px;
    padding: 8px;
    font-family: monospace;
    font-weight: 300;
    font-size: 12px;
    background-color: #eee !important;

    code {
        box-shadow: none;
        background: transparent;
    }
}

code,
.message,
p code {
    font-size: 12px;
    font-family: monospace;
    box-shadow: 1px 1px rgb(127, 156, 194);
    background: rgb(180, 211, 251);
    border-radius: 2px;
    padding: 0 4px;
}

.message {
    background: rgb(226, 238, 254);
    max-width: 65ch;
    padding: 8px;
    font-family: inherit;
    font-size: inherit;
}

.message.is-wrong {
    background: rgb(187, 77, 77);
    color: white;
}

ul {
    max-width: 90ch;
    padding-left: 1em;
}

ul.news time {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    margin-left: -16px;
}

ul.news li {
    padding-left: 16px;
    border-bottom: 1px dotted gray;

    &:last-child {
        border-bottom: none;
    }
}

ul ul {
    margin-bottom: 0;
}

.tags-container {
    display: block;
    a {
        text-decoration: none;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    max-width: 65ch;
    gap: 4px;

    a {
        text-decoration: none;
    }
}

.tag {
    margin: 1px;
    display: inline-block;
    border-radius: 10px;
    font-family: monospace, Helvetica, sans-serif;
    font-size: 0.65em;
    padding: 2px 6px;
    background: transparent;
    color: black;
    border: 1px solid black;
    &:hover {
        border: 1px solid transparent;
    }

    @media (prefers-color-scheme: dark) {
        opacity: 1;
    }

    &.optics:hover {
        background: rgb(161, 182, 239);
    }

    &.astronomy:hover {
        background: rgb(2, 0, 36);
        background: linear-gradient(
            180deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(100, 145, 154, 1) 100%
        );
        color: white;
    }

    &.hot.sauce:hover {
        background: rgb(239, 4, 63);
        background: linear-gradient(
            180deg,
            rgb(239, 4, 63) 0%,
            rgb(239, 126, 63) 100%
        );
        color: white;
    }

    &.explorations:hover {
        background: rgb(119, 100, 154);
        color: white;
    }

    &.mini-tools:hover {
        background: rgb(161, 239, 201);
    }

    &.rustler:hover {
        background: rgb(131, 58, 180);
        color: white;
        background: linear-gradient(
            148deg,
            rgba(131, 58, 180, 1) 0%,
            rgba(252, 176, 69, 1) 100%
        );
    }

    &.elixir:hover,
    &.bumblebee:hover {
        background: rgba(119, 77, 187, 1);
        color: white;
    }

    &.liveview:hover {
        background: rgb(119, 77, 187);
        color: white;
        background: linear-gradient(
            148deg,
            rgba(119, 77, 187, 1) 0%,
            rgba(175, 103, 232, 1) 100%
        );
    }

    &.erlang:hover {
        background: rgb(238, 15, 63);
        color: white;
    }

    &.wip:hover {
        background: rgb(179, 215, 240);
    }

    &.vue:hover,
    &.nuxt:hover {
        background: rgb(163, 225, 163);
    }

    &.rust:hover {
        background: chocolate;
        color: white;
    }

    &.iot:hover,
    &.IoT:hover,
    &.typescript:hover {
        background: lightblue;
    }

    &.audioskop:hover {
        background: gold;
    }

    &.programming:hover {
        background: rgb(155, 182, 193);
        color: white;
    }

    &.talk:hover {
        background: rgb(135, 206, 235);
    }

    &.parsing:hover {
        background: rgb(152, 251, 152);
    }

    &.hardware:hover {
        background: rgb(221, 160, 221);
        color: white;
    }

    &.chemistry:hover {
        background: rgb(100, 200, 100);
    }

    &.print-in-3d:hover {
        background: rgb(200, 100, 200);
    }

    &.graphics:hover {
        background: rgb(100, 100, 200);
        color: white;
    }

    &.nerves:hover {
        background: rgb(200, 150, 150);
    }

    &.programming-language:hover {
        background: rgb(190, 170, 220);
        color: white;
    }

    &.performance:hover {
        background: rgb(255, 140, 0);
        color: white;
    }

    &.telescope:hover {
        background: rgb(70, 130, 180);
        color: white;
    }

    &.mirror-making:hover {
        background: rgb(192, 192, 192);
    }

    &.web-development:hover {
        background: rgb(102, 205, 170);
    }

    &.\33 d-printing:hover {
        background: rgb(219, 112, 147);
        color: white;
    }

    &.whisper:hover {
        background: rgb(110, 123, 139);
        color: white;
    }

    &.distribution:hover {
        background: rgb(205, 133, 63);
        color: white;
    }

    &.telescope-making:hover {
        background: rgb(112, 128, 144);
        color: white;
    }

    &.design:hover {
        background: rgb(221, 160, 221);
    }

    &.gamedev:hover,
    &.game-development:hover {
        background: rgb(255, 69, 0);
        color: white;
    }

    &.data-structures:hover {
        background: rgb(60, 179, 113);
    }

    &.benchmarking:hover {
        background: rgb(255, 215, 0);
    }

    &.debug:hover {
        background: rgb(178, 34, 34);
        color: white;
    }

    &.web:hover {
        background: rgb(135, 206, 250);
    }

    &.exploration:hover {
        background: rgb(189, 183, 107);
    }

    &.web-server:hover {
        background: rgb(72, 209, 204);
    }

    &.nif:hover {
        background: rgb(238, 130, 238);
    }

    &.beam:hover {
        background: rgb(46, 139, 87);
        color: white;
    }

    &.iot:hover {
        background: rgb(30, 144, 255);
        color: white;
    }

    &.art-installation:hover {
        background: rgb(218, 112, 214);
        color: white;
    }

    &.podcast:hover {
        background: rgb(210, 105, 30);
        color: white;
    }

    &.automation:hover {
        background: rgb(95, 158, 160);
    }

    &.langdev:hover {
        background: rgb(139, 69, 19);
        color: white;
    }

    &.git:hover,
    &.github:hover,
    &.version-control:hover {
        background: rgb(105, 105, 105);
        color: white;
    }

    &.atomvm:hover {
        background: rgb(255, 99, 71);
        color: white;
    }

    &.esp32:hover {
        background: rgb(0, 128, 128);
        color: white;
    }

    &.embedded:hover {
        background: rgb(255, 140, 0);
        color: white;
    }

    &.machine-learning:hover {
        background: rgb(75, 0, 130);
        color: white;
    }

    &.interop:hover {
        background: rgb(106, 90, 205);
        color: white;
    }

    &.compilers:hover {
        background: rgb(165, 42, 42);
        color: white;
    }

    &.file-formats:hover {
        background: rgb(0, 139, 139);
        color: white;
    }

    &.user-experience:hover {
        background: rgb(222, 184, 135);
    }

    &.security:hover {
        background: rgb(139, 0, 0);
        color: white;
    }

    &.interferometry:hover {
        background: rgb(0, 100, 0);
        color: white;
    }

    &.open-hardware:hover {
        background: rgb(255, 165, 0);
    }

    &.ovo:hover {
        background: rgb(138, 43, 226);
        color: white;
    }

    &.algorithms:hover {
        background: rgb(85, 107, 47);
        color: white;
    }

    &.phoenix:hover {
        background: rgb(255, 69, 0);
        color: white;
    }

    &.cad:hover,
    &.CAD:hover {
        background: rgb(70, 130, 180);
        color: white;
    }

    &.mac:hover {
        background: rgb(211, 211, 211);
    }

    &.two-dimensions:hover {
        background: rgb(152, 251, 152);
    }

    &.hyperbolic:hover {
        background: rgb(186, 85, 211);
        color: white;
    }

    &.blogging:hover {
        background: rgb(255, 182, 193);
    }

    &.three\.js:hover {
        background: rgb(100, 149, 237);
        color: white;
    }

    &.photography:hover {
        background: rgb(25, 25, 112);
        color: white;
    }

    &.zoneplate:hover {
        background: rgb(153, 102, 204);
        color: white;
    }

    &.pinhole:hover {
        background: rgb(85, 107, 47);
        color: white;
    }

    &.javascript:hover {
        background: rgb(240, 230, 140);
    }
}

@media screen {
    .printonly {
        display: none;
    }
}

hr {
    border: none;
    border-top: 1px dotted #666;
    margin-bottom: 1.5em;
}

img.slide {
    width: 45ch;
    max-width: 100%;
}

@media print {
    .noprint {
        display: none;
    }

    a[href*="github"] {
        font-size: inherit;
    }

    html,
    body {
        width: 209.95mm;
        height: 296.95mm;
        font-size: 14px;
        background: none;
    }

    html {
        padding: 0;
        margin: 0;
    }

    body {
        margin: 0;
        padding: 10mm;
        overflow-x: hidden;
    }

    .page-cv {
        position: relative;

        .cv main,
        .cv .header-left {
            flex: 0 0 58%;
        }

        .cv aside,
        .cv .header-right {
            flex: 0 0 36%;
            //font-size: .8em;
        }

        #app > header {
            margin-bottom: -0.5em;
        }

        h3 {
            font-size: 1rem;
            margin-bottom: 0.15em;
            margin-top: 2em;
        }

        ul {
            margin: 0;

            p.small {
                margin-bottom: 0.5em;
            }
        }

        .cv h4.year {
            margin-top: 1em;
            display: block;
            margin-bottom: 0;
        }

        .project-list {
            &:first-of-type {
                h4.year {
                    margin-top: 0;
                }
            }
        }

        ul.dates {
        }

        h3 + p {
            margin-top: 0;
        }

        footer {
            position: absolute;
            display: none;
            bottom: 5mm;
            left: 10mm;
            right: 10mm;
        }

        li {
            list-style: none;

            &::before {
                display: none;
            }
        }
    }
}

.posts-navigation {
    font-size: 0.7rem;
    a {
        display: inline-block;
        margin-bottom: 0.25em;
    }
}

table.table {
    width: 100%;
    max-width: 70ch;
    text-align: left;
    td,
    th {
        padding: 0.25em;
        border: 1px solid #ddd;
    }
    border-collapse: collapse;
}

.items-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 -0.5em;
}

.items-list li {
    margin: 0.5em;
    flex: 0 0 200px;
    padding: 0;
}

.items-list li a {
    cursor: pointer;
    text-decoration: none;
}

.items-list li h3 {
    font-size: 1em;
    display: inline;
}

figure.slide {
    margin-bottom: 4em;
}
