---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE + ' - Blog'} description={SITE_DESCRIPTION} />
		<style scoped>
			ul {
				list-style-type: none;
				padding: unset;
			}
			
			ul li {
				display: flex;
				align-items: baseline;
				margin-bottom: .75em;
				padding-top: .75em;
				flex-wrap: wrap;
				border-top: 1px dotted lightgray;
			}

			ul.posts-list {
				padding-left: 0;
			}

			.tags-container {
				flex: 0 0 100%;
				padding-left: 9.5ch;
			}

			ul li time {
				flex: 0 0 11ch;
				font-style: italic;
				color: #000000;
				font-size: .85em;
			}
			
			ul li a {
				color: black;
				text-decoration: none;
				
			}
			ul li a:hover {
					text-decoration: underline;
				}
			
			ul li a:visited {
				color: black;
			}

			@media screen and (max-width: 767px) {
				ul li time {
					flex: 0 0 100%;
				}
				
				.tags-container {
					padding-left: 0;
					margin-left: -0.25em;
				}
				ul li {
					flex-wrap: wrap;
					margin-bottom: 1em;
				}
			}
		</style>
	</head>
	<body>
		<Header have_langs={false} />
		<main>
			<h3>Hi 👋</h3>
			<p>
				This listing features content on various personal
				research (optics, astronomy, programming) and work-related research (programming).
			</p>
			<section>
				<ul class="posts-list">
					{
						posts.filter((post) => !post.frontmatter.draft).map((post) => (
							<li>
								<time datetime={post.frontmatter.pubDate}>
									{new Date(
										post.frontmatter.pubDate
									).toLocaleDateString("en-us", {
										year: "numeric",
										month: "2-digit",
										day: "2-digit",
									})}
								</time>
								
								<a href={post.url} set:html="post.frontmatter.title.replace('--', '<br/>')"></a>
								<div class="tags-container">
									<div class="tags">
										{ (post.frontmatter.tags || []).map(t => <span class={"tag " + t}>{ t }</span>) }
									</div>
								</div>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
