---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE + ' - Blog'} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
				align-items: baseline;
				margin-bottom: .35em;
			}
			ul li time {
				flex: 0 0 11ch;
				font-style: italic;
				color: #000000;
				font-size: .85em;
			}
			ul li a {
				color: black;
			}
			ul li a:visited {
				color: #860a10;
			}

			@media screen and (max-width: 767px) {
				ul li time {
					flex: 0 0 100%;
				}
				ul li {
					flex-wrap: wrap;
					margin-bottom: 1em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h3>Hi 👋</h3>
			<p>
				This listing features content on various personal
				research (optics, astronomy, programming) and work-related research (programming).
				<br>I'm a french person but write mostly in english. It allows me to be more straightforward. Video material
				is mostly in French.
			</p>
			<section>
				<ul>
					{
						posts.filter((post) => !post.frontmatter.draft).map((post) => (
							<li>
								<time datetime={post.frontmatter.pubDate}>
									{new Date(
										post.frontmatter.pubDate
									).toLocaleDateString("en-us", {
										year: "numeric",
										month: "2-digit",
										day: "2-digit",
									})}
								</time>
								<a href={post.url} set:html="post.frontmatter.title.replace('--', '<br/>')"></a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
