---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} have_langs={true}/>
		<div id="app">
			<main>
				<h3>News</h3>
				<p>
					<a style="display:inline-block;padding:.5em 1.5em; text-decoration: none; box-shadow: 0 1px 6px -1px rgba(0,0,0,0.3); background:#eee; border-radius: 19px; margin-bottom: .5em; font-family: sans-serif" href="https://www.helloasso.com/associations/petites-bandes/collectes/audioskop"><span class="bullet">🔗</span> The crowdfunding for 🟡 Audioskop is live !</a><br>Audioskop will be a FLOSS app allowing you to index and explore a set of audio documents with a non-list interface designed for serendipitous exploration.<br><a href="https://audioskop.fr">Interactive presentation on audioskop.fr</a>
				</p>
				<h3>Work</h3>
				<p>
					Full-stack developer & eternal curious, I've been freelancing since 2015 doing consulting, planning
					&&nbsp;development of web apps and tooling for various
					clients.
					<a href="mailto:contact@lucassifoni.info">Get&nbsp;in&nbsp;touch</a> if
					you'd like to optimize, automate and refine processes at your
					agency.
				</p>
				<p>
					Today, I'm building a low-code design automation system in
					Elixir & Typescript.<br />
				</p>
				<p>
					I'm available for contracts on either custom tooling, or to
					work as part of an Elixir team on an interesting product.
				</p>
				<h3>Optics & Astronomy</h3>
				<p>
					A bit of my optics making is on GitHub (see <a
						href="https://github.com/Lucassifoni/hyperbolic-200mm-f3.5-"
						>hyperbolic-200mm-f3.5-</a
					>) or on instagram (<a
						href="https://instagram.com/chantepierre_"
						>@chantepierre_</a
					>). I'd love to discuss that, so feel free to reach out.<br
					/>
					<br />Current 🔭 build : A remote-controlled telescope with
					Elixir, Vue, & Rust.<br />See <a href="/blog">the blog</a> for
					details !
				</p>
			</main>
			<Footer />
		</div>
	</body>
</html>
