---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div id="app">
			<main>
				<h3>Work</h3>
				<p>
					I've been freelancing since 2015 doing consulting,
					planning &&nbsp;development of web apps and tooling for
					various clients.
					<a href="mailto:contact@lucassifoni.info">Get in touch</a> if you'd like to optimize, automate and refine processes at your agency.
				</p>
				<p>
					Today, I'm building a low-code design
					automation system in Elixir & Typescript.<br />
				</p>
				<p>
					Tomorrow, I'd be looking to work as part of an Elixir team on an interesting product.
				</p>
				<h3>Optics & Astronomy</h3>
				<p>
					A bit of my optics & telescopes making is on GitHub (see <a
						href="https://github.com/Lucassifoni/hyperbolic-200mm-f3.5-"
						>github.com/Lucassifoni/hyperbolic-200mm-f3.5-</a
					>) or on instagram (<a
						href="https://instagram.com/chantepierre_"
						>@chantepierre_</a
					>).<br>I'd love to discuss that too, so feel free to reach out.
				</p>
			</main>
			<Footer />
		</div>
	</body>
</html>
