---
import { DISPLAY_ALCHEMIST_BAND } from "../config";
---

{
    DISPLAY_ALCHEMIST_BAND ? (
        <div style="font-style: italic;max-width: 67ch;">
            <span>
                <span>
                    Si vous souhaitez introduire Elixir à votre équipe avec un
                    animateur francophone, n'hésitez pas à me contacter.
                </span>
            </span>
        </div>
    ) : (
        <div />
    )
}
