---
const today = new Date();
import { sites } from "./sites";
const active_lang = Astro.url.toString().includes("/fr/") ? "fr" : "en";
const fren = (a: string, b: string) => active_lang === 'fr' ? a : b;
---

<footer>
	<p>
		2022 - {today.getFullYear()} Lucas&nbsp;Sifoni - L'Isle-Jourdain&nbsp;(32),&nbsp;France
	</p>
	<ul>
		<li class="noslash">{fren('liens', 'links')} :</li>
		<li><a href="https://github.com/lucassifoni">github</a></li>
		<li><a href="https://instagram.com/chantepierre_">instagram</a></li>
		<li><a href="https://www.linkedin.com/in/lucas-sifoni">linkedin</a></li>
		<li><a href="https://www.malt.fr/profile/lucassifoni1">malt</a></li>
		<li><a href="mailto:contact@lucassifoni.info">email</a></li>
	</ul>

	<ul>
		<li class="noslash">{fren('nouveaux posts :', 'get new posts :')}</li>
		<li><a href="/rss.xml">RSS Feed</a></li>
		<li>
			<a
				href="https://fda0e546.sibforms.com/serve/MUIEAIaDIXiSA03h2vF2UQtizUGfPx1B5E56umwpW-VweXoZ36E8q9HpZxlzPBjkRSkJ9E_SkihqUgmZjJNtilkmOz90KqqMYcknqNBpxwNip1Odb65_lAuQ3iidoGsyj4kL4MSLxWhDXK4BlmYLg-3YTuIjG5C_4Z7ioJI6kw1HoivIxNEJYSuURiz9tdcslQsjVaj805ZUhPUH"
				>newsletter</a>
		</li>
	</ul>
	<slot />
</footer>
<style>
	footer {
		font-size: 0.765rem;
		margin-top: 2em;
		padding-top: 1.5em;
		border-top: 1px dotted black;
	}

	ul {
		display: block;
		margin: 0;
		padding: 0;
		margin-top: 1em;
	}

	li {
		display: inline;
		margin: 0;
		padding: 0;
	}
	li::after {
		content: " / ";
	}
	li.noslash::after {
		content: "";
	}
	li:last-child::after {
		content: "";
	}
</style>
