---
import HeaderLink from "./HeaderLink.astro";
const { have_langs } = Astro.props;
const active_lang = Astro.url.toString().includes("/fr") ? "fr" : "en";
const fren = (a: string, b: string) => (active_lang === "fr" ? a : b);
const parts = Astro.url.pathname.slice(1).split("/");
const no_lang = parts.filter((a, i) => !(i === 0 && a === "fr"));
const url_fr = "/" + ["fr"].concat(no_lang).join("/");
const url_en = "/" + no_lang.join("/");
---

<header>
    <nav>
        <h2><a href="/" style="text-decoration: none;">Lucas Sifoni</a></h2>

        {have_langs && (
            <span class="lang_selector">
                <a href={url_en} class={active_lang === "en" ? "active" : ""}>EN</a>
                {" | "}
                <a href={url_fr} class={active_lang === "fr" ? "active" : ""}>FR</a>
            </span>
        )}
    </nav>
    <div class="nav_links">
        <HeaderLink href="/">Journal</HeaderLink>
        <HeaderLink href="/models">3D Models</HeaderLink>
    </div>
</header>
<style lang="scss">
    header {
        h2 {
            font-weight: 400;
            margin: 0;
        }
        margin: 0;
        a {
            display: inline-block;
            margin-right: 0.5ch;
        }
        a:last-child {
            &::after {
                content: "";
            }
        }
        a[href*="cv"] {
            &::after {
                content: "";
            }
        }
        nav {
            display: flex;
            align-items: baseline;
            gap: 1ch;
        }
        div.nav_links {
            display: block;
            margin-top: 1em;
            font-size: .85em;
        }
        span.lang_selector {
            display: inline-block;
            margin-left: auto;
            a {
                text-decoration: none;
            }
            a.active {
                text-decoration: underline;
            }
        }
    }
    @media screen and (max-width: 600px) {
        nav {
            flex-wrap: wrap;
        }
        span.lang_selector {
            display: block;
            flex: 0 0 100%;
        }
    }
</style>
