---
interface Props {
    id: string;
}

const { id } = Astro.props;
const url = `https://news.ycombinator.com/item?id=${id}`;
---

<p>
    <span style="font-style:normal;display:inline-block;background:#FF6600; color: white; width:1.2em; text-align: center; line-height: 1.2; height: 1.2em;position:relative;top:-.1em;"><span style="position: relative; top:.1em">Y</span></span> Discussion on HN : <a href={url}>{url}</a>
</p>
