---
const { me, lang } = Astro.props;
const posts = Object.values(
    import.meta.glob("/src/pages/blog/*.{md,mdx}", { eager: true }),
).sort(
    (a, b) =>
        new Date(b.frontmatter?.pubDate).valueOf() -
        new Date(a.frontmatter?.pubDate).valueOf(),
);
const index = posts.findIndex((p) => p.url === me);
const last = posts.length - 1;
---

{
    index !== -1 ? (
        <>
            <div class="posts-navigation">
                {index !== -1 && index == 0 ? (
                    <div>
                        Previous post :{" "}
                        <a
                            href={posts[index + 1].url}
                            set:html={posts[index + 1].frontmatter?.title}
                        />
                        <br />
                    </div>
                ) : (
                    <div />
                )}
                {index !== -1 && index !== 0 && index != last ? (
                    <div>
                        Previous post :{" "}
                        <a
                            href={posts[index + 1].url}
                            set:html={posts[index + 1].frontmatter?.title}
                        />
                        <br />
                        Next post :{" "}
                        <a
                            href={posts[index - 1].url}
                            set:html={posts[index - 1].frontmatter?.title}
                        />
                    </div>
                ) : (
                    <div />
                )}
                {index !== -1 && index == last ? (
                    <div>
                        Next post :{" "}
                        <a
                            href={posts[index - 1].url}
                            set:html={posts[index - 1].frontmatter?.title}
                        />
                    </div>
                ) : (
                    <div />
                )}
            </div>
        </>
    ) : (
        ""
    )
}
