<div class="WorkBand">
    <div class="messagew">
        👋 <span class="mobile">looking</span><span class="desktop"
            >I'm looking</span
        > for a <span class="desktop">full-time</span> remote <strong
            >Elixir</strong
        > position <span class="desktop"
            >starting <strong>March 2024</strong>
        </span><span class="mobile">starting <strong>2024-03</strong></span>
    </div>
    <div><a href="mailto: contact@lucassifoni.info">✉️ get in touch</a></div>
</div>

<style>
    .WorkBand {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 6px;
        color: black;
        font-family: Helvetica, Arial, sans-serif;
        font-size: inherit;
        background: linear-gradient(
            148deg,
            rgb(209, 178, 230) 30%,
            rgb(166, 113, 184) 100%
        );
        border-top: 1px solid rgb(193, 150, 213);
        box-shadow: 0 0 10px rgba(131, 58, 180, 0.3);
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-wrap: wrap;
    }
    .WorkBand div {
        display: inline-block;
    }
    .WorkBand .mobile {
        display: none;
    }
    .WorkBand .desktop {
        display: initial;
    }
    @media screen and (max-width: 435px) {
        .WorkBand {
            font-size: 0.9em;
        }
        .WorkBand .desktop {
            display: none;
        }
        .WorkBand .mobile {
            display: initial;
        }
    }
</style>
