---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE + ' - Blog'} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
				align-items: baseline;
				margin-bottom: .35em;
			}
			ul li time {
				flex: 0 0 11ch;
				font-style: italic;
				color: #000000;
				font-size: .85em;
			}
			ul li a {
				color: black;
			}
			ul li a:visited {
				color: #860a10;
			}

			@media screen and (max-width: 767px) {
				ul li time {
					flex: 0 0 100%;
				}
				ul li {
					flex-wrap: wrap;
					margin-bottom: 1em;
				}
			}
		</style>
	</head>
	<body>
		<Header have_langs={true} />
		<main>
			<h3>Bonjour 👋</h3>
			<p>
				Cette liste présente du contenu sur diverses recherches personnelles (optique, astronomie, programmation) ou liées à mon travail (programmation).
				<br>J'écris principalement en anglais car cela me permet d'être plus concis : les articles sont donc en cours de traduction depuis l'anglais et certains sont pour le moment manquants.
			</p>
			<section>
				<ul>
					{
						posts.filter((post) => !post.frontmatter.draft).map((post) => (
							<li>
								<time datetime={post.frontmatter.pubDate}>
									{new Date(
										post.frontmatter.pubDate
									).toLocaleDateString("fr-fr", {
										year: "numeric",
										month: "2-digit",
										day: "2-digit",
									})}
								</time>
								<a href={post.url} set:html="post.frontmatter.title.replace('--', '<br/>')"></a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
